@import '../../../assets/sass/utilities/mixins/index';
@import '../../../assets/sass/utilities/variables/index';

.fifty-fifty {
	margin-bottom: $block-bottom-margin-large;

	// Decorative background swoosh
	.fifty-fifty-bg-swoosh {
		top: rem(-90);
		right: 0;
		width: auto;
		height: 100%;
		pointer-events: none;
	}


	// Styled list with gold square markers
	.fifty-fifty-list {
		list-style: square;
		padding-left: rem(24);

		li {
			&::marker {
				color: $brand-gold;
				font-size: rem(24);
			}
		}

		h3 {
			margin-bottom: 0;
		}
	}
}