//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------

a {
	color: $color-link;
	opacity: 1;
	transition: $transition-opacity;
	text-decoration: none;

	&:hover,
	&:active {
		color: $color-link-hover;
		opacity: 1;
	} // &:hover, &:active

	&:focus {
		color: $color-link-focus;
	} //  &:focus
} // a
