.gform-theme--api {
  --gf-form-gap-x:16px;
  --gf-form-gap-y:40px;
  --gf-form-footer-margin-y-start:24px;
  --gf-form-footer-gap:8px;
  --gf-field-gap-x:12px;
  --gf-field-gap-y:12px;
  --gf-field-date-width:168px;
  --gf-field-time-width:110px;
  --gf-field-list-btns-gap:8px;
  --gf-field-list-btns-width:calc(32px + var(--gf-field-list-btns-gap) + var(--gf-field-gap-x));
  --gf-field-pg-steps-gap-y:8px;
  --gf-field-pg-steps-gap-x:24px;
  --gf-label-width:30%;
  --gf-label-req-gap:6px;
}

.gform-theme--foundation {
  --gf-form-gap-x:16px;
  --gf-form-gap-y:40px;
  --gf-form-footer-margin-y-start:24px;
  --gf-form-footer-gap:8px;
  --gf-field-gap-x:12px;
  --gf-field-gap-y:12px;
  --gf-field-date-width:168px;
  --gf-field-time-width:110px;
  --gf-field-list-btns-gap:8px;
  --gf-field-list-btns-width:calc(32px + var(--gf-field-list-btns-gap) + var(--gf-field-gap-x));
  --gf-field-pg-steps-gap-y:8px;
  --gf-field-pg-steps-gap-x:24px;
  --gf-label-width:30%;
  --gf-label-req-gap:6px;
}

.gform-theme--foundation *, .gform-theme--foundation ::after, .gform-theme--foundation ::before {
  box-sizing: border-box;
}

.gform-theme--foundation fieldset, .gform-theme--foundation legend {
  background: 0 0;
  padding: 0;
}

.gform-theme--foundation fieldset {
  border: none;
  display: block;
  margin: 0;
}

.gform-theme--foundation legend {
  margin-inline: 0;
}

.gform_anchor:focus-visible, .gform_confirmation_wrapper:focus, .gform_wrapper:focus {
  outline: 0;
}

.gform-theme--foundation .hidden_label .gfield_label, .gform-theme--foundation .hidden_sub_label, .gform-theme--foundation .screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  word-wrap: normal !important;
  padding: 0;
  position: absolute;
  width: 1px;
}

.gform-theme--foundation button.screen-reader-text:focus {
  border: 0;
  clip: auto;
  clip-path: none;
  height: auto;
  margin: 0;
  position: static !important;
  width: auto;
}

.gform-theme--foundation .gform-ul-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gform-theme--foundation .gform-text-input-reset {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: currentcolor;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  padding: inherit;
  width: auto;
}

.gform-theme--foundation .gform_fields {
  grid-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  inline-size: 100%;
  -moz-column-gap: 0.75rem !important;
       column-gap: 0.75rem !important;
  row-gap: 0.75rem !important;
}

.gform-theme--foundation .gform_fields label, .gform-theme--foundation .gform_fields legend {
  text-transform: uppercase !important;
  font-size: 0.75rem !important;
  font-weight: 700 !important;
  color: #2D2D36 !important;
  letter-spacing: 2px;
}

.gform-theme--foundation .gform_fields input, .gform-theme--foundation .gform_fields textarea {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #D9DEDF;
  width: 100%;
  padding: 0.625rem 0.75rem;
}

.gform-theme--foundation .gform_fields input:focus-visible, .gform-theme--foundation .gform_fields textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.1875rem #005568;
}

.gform-theme--foundation .gform_fields input::-moz-placeholder, .gform-theme--foundation .gform_fields textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.gform-theme--foundation .gform_fields input::placeholder, .gform-theme--foundation .gform_fields textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.gform-theme--foundation .gfield {
  grid-column: 1/-1;
  min-inline-size: 0;
}

.gform-theme--foundation .gform-grid-row {
  display: flex;
  flex-flow: row wrap;
  margin-inline: calc(var(--gf-field-gap-x) * -1 / 2);
  row-gap: var(--gf-field-gap-y);
}

.gform-theme--foundation .gform-grid-col {
  flex: none;
  inline-size: 100%;
  padding-inline: calc(var(--gf-field-gap-x) / 2);
}

.gform-theme--foundation .gform-grid-col.gform-grid-row {
  inline-size: calc(100% + var(--gf-field-gap-x));
}

.gform-theme--foundation:where(:not(.gform_editor)) .gf_hidden, .gform-theme--foundation:where(:not(.gform_editor)) .gform_hidden {
  display: none;
}

.gform-theme--foundation .gform_validation_container {
  display: none !important;
}

@media (min-width: 640px) {
  .gform-theme--foundation .gform_fields {
    -moz-column-gap: var(--gf-form-gap-x);
    column-gap: var(--gf-form-gap-x);
  }
  .gform-theme--foundation .gfield--width-full {
    grid-column: span 12;
  }
  .gform-theme--foundation .gfield--width-eleven-twelfths {
    grid-column: span 11;
  }
  .gform-theme--foundation .gfield--width-five-sixths {
    grid-column: span 10;
  }
  .gform-theme--foundation .gfield--width-three-quarter {
    grid-column: span 9;
  }
  .gform-theme--foundation .gfield--width-two-thirds {
    grid-column: span 8;
  }
  .gform-theme--foundation .gfield--width-seven-twelfths {
    grid-column: span 7;
  }
  .gform-theme--foundation .gfield--width-half {
    grid-column: span 6;
  }
  .gform-theme--foundation .gfield--width-five-twelfths {
    grid-column: span 5;
  }
  .gform-theme--foundation .gfield--width-third {
    grid-column: span 4;
  }
  .gform-theme--foundation .gfield--width-quarter {
    grid-column: span 3;
  }
  .gform-theme--foundation .gfield--width-one-sixth {
    grid-column: span 2;
  }
  .gform-theme--foundation .gfield--width-one-twelfth {
    grid-column: span 1;
  }
  .gform-theme--foundation .gform_footer.left_label, .gform-theme--foundation .gform_footer.right_label {
    padding-inline-start: var(--gf-label-width);
  }
}
@media (min-width: 640px) {
  .gform-theme--foundation .gform-grid-col.gform-grid-col--size-auto {
    flex: 1;
    inline-size: auto;
  }
}
.gform_validation_errors:focus-visible {
  outline: none;
}

.gform_validation_errors h2.gform_submission_error {
  font-size: 1.125rem;
  color: #c02b0a;
  font-weight: 700;
}

.gform_validation_errors ol {
  list-style-type: none;
  padding: 0;
}

.gform_validation_errors ol li {
  margin-bottom: 0;
}

.gform_validation_errors ol li:first-of-type a {
  border-top: 1px solid #6B7C8E;
}

.gform_validation_errors ol li a {
  color: #c02b0a;
  border-bottom: 1px solid #6B7C8E;
  display: block;
  padding: 0.3125rem 0;
  font-size: 0.875rem;
  font-style: italic;
}

.gfield_description.validation_message.gfield_validation_message {
  font-size: 0.875rem;
  color: #c02b0a;
  font-style: italic;
}

.gform_confirmation_message {
  padding: 1.25rem;
  font-size: 1.25rem;
  font-family: "geller-text", serif;
  color: #4C7329;
  background-color: #F1F1F1;
}

.ginput_counter {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #929292;
}

.gfield_required {
  color: #007C89;
  font-size: 8px;
  letter-spacing: 1px;
  margin-left: 0.125rem;
}

/*# sourceMappingURL=gravity-forms.css.map*/