//--------------------------------------------------------------
// Box Model
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

/// Define thin border radius.
$border-radius-thin: 1px;

/// Define medium border radius.
$border-radius-medium: 3px;
