//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

.btn,
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@extend .btn;
	border-radius: 0;
	padding: rem(10) rem(24);

	&.btn-primary {
		background-color: $brand-teal;
		border-color: $brand-teal;
		color: $color-white;
		font-weight: 700;
		border: 3px solid $brand-teal;

		&:hover,
		&:focus,
		&:active, {
			background-color: $brand-teal-dark;
			border-color: $brand-teal-dark;
		}
		&.btn-clipped {
			border-top-right-radius: rem(20);
		}
	}
	&.btn-outline {
		background-color: transparent;
		border: 3px solid $color-white;
		color: $color-white;
		font-weight: 700;

		&:hover,
		&:focus,
		&:active, {
			background-color: $color-white;
			color: $brand-teal;
		}
		&.btn-clipped {
			border-top-right-radius: rem(20);
		}
	}
	&.text-link {
		background: none;
		border: none;
		font-weight: 700;
		color: $brand-teal;
		text-decoration: underline;

		&:hover,
		&:focus {
			color: $brand-teal-dark;
			text-decoration: none;
		}
	}

	// Carousel Navigation Buttons
	&.btn-carousel-prev,
	&.btn-carousel-next {
		width: rem(47);
		height: rem(47);
		border: 1px solid $brand-teal-light;
		background: transparent;
		color: $brand-teal-light;
		padding: 0;
		transition: all 0.3s ease;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background: $brand-teal-light;
			color: $color-white;
			border-color: $brand-teal-light;
		}

		svg {
			display: block;
		}
	}

} // button, input[type="button"], input[type="reset"], input[type="submit"]

