//--------------------------------------------------------------
// WordPress Default Gallery Block
//--------------------------------------------------------------

// Remove the left margin/padding.
.wp-block-gallery {
	margin: 0;
	padding: 0;
} // .wp-block-gallery