//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Globally post styles.
@import 'posts';

// Blog post navigation.
@import 'post-navigation';
