.single-post {
    .entry-content {
        p, ul, ol {
            font-size: rem(18);
            line-height: 1.5;
        }
        ul {
            list-style-type: square;
            li {
                margin-bottom: rem(5);
                &::marker {
                    color: $brand-orange;
                    font-size: rem(24);
                }
            }
        }
    }

    // Post meta (author + date)
    .posts-filter-meta {
        font-size: rem(12);
        font-weight: 700;
        color: $brand-gray-blue;
    }

    .posts-filter-dot {
        width: rem(8);
        height: rem(8);
        background: $brand-green;

        &--teal {
            background: $brand-teal;
        }

        &--gold {
            background: $brand-gold;
        }
    }

    // Sticky post navigation
    .in-post-nav {

        .post-navigation {
            background-color: $brand-gray-bg;
            border-top-right-radius: rem(40);
            position: sticky;
            top: rem(220);
            padding: rem(24);
            margin-bottom: rem(80);
        }

        .post-nav-list {
            list-style: none;
            padding: 0 0 0 rem(16);
            margin: 0;
        }

        .post-nav-item {
            margin-bottom: rem(14);

            &--h3 {
                padding-left: rem(12);
            }

            &--h4 {
                padding-left: rem(24);
            }
        }

        .post-nav-link {
            display: block;
            position: relative;
            //font-size: rem(14);
            color: $brand-gray-blue;
            text-decoration: none;
            transition: color 0.2s ease;
            line-height: 1.3;

            &:hover {
                color: $brand-teal;
            }

            &.active {
                color: $brand-teal;
                font-weight: 700;

                &::before {
                    content: '\203A';
                    position: absolute;
                    left: rem(-12);
                    font-weight: 700;
                }
            }
        }
    }

    // Post author box
    .post-author-box {
        background-color: $brand-gray-bg;
        border-top-right-radius: rem(40);
        margin-bottom: $block-bottom-margin-large;

        .post-author-label {
            font-size: rem(12);
            letter-spacing: rem(0.84);
            color: $brand-gray-blue;
        }

        .post-author-name {
            color: $brand-teal;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .post-author-bio {
            color: $brand-gray-blue;
        }
    }
}
