/**
 * Gutenberg Editor Styles
 *
 * Add custom styles here to style the Gutenberg editor
 * https://wordpress.org/gutenberg/handbook/designers-developers/developers/themes/theme-support/#enqueuing-the-editor-style
 */

/* Import your theme Google Fonts */
 /*@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);*/

/* Block Styles */
.wp-block {
    max-width: 90%;
}

/* Styles from Base */
.bg-image {
    background-size: cover;
    background-position: center;
}

.accordion .accordion__row .accordion__title{
	text-align: left;
	width: 100%;
}
span.badge {
    background-color: red;
    color: white;
    top: 0!important;
    right: 0;
    position: absolute;
    z-index: 10;
}

.object-fit-cover {
    object-fit: cover;
}

.wp-caption-text {
    text-align: left;
    background-color: #f5f5f5;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}