//--------------------------------------------------------------
// Alternating Content
//--------------------------------------------------------------


.alternating-content {
	margin-bottom: $block-bottom-margin-large;
}
