.testimonial-bar {
	margin-bottom: $block-bottom-margin-large;

	// Parallax image container
	.testimonial-bar-image-wrapper {
		overflow: hidden;
	}

	// Parallax image (slightly taller to allow movement)
	img {
		height: 120%;
		object-fit: cover;
		will-change: transform;
	}

	// Dark overlay (can't use utilities)
	.testimonial-bar-overlay {
		background-color: rgba(0, 0, 0, 0.4);
	}

	// Custom font sizes for testimonial quote
	.testimonial-bar-quote {
		font-size: rem(28);
		line-height: 1.3;

		@include media($md) {
			font-size: rem(36);
		}

		@include media($lg) {
			font-size: rem(48);
		}

		// Decorative quote marks (pseudo-elements)
		&::before {
			content: '\201C';
			font-size: rem(64);
			line-height: 0;
			position: relative;
			top: rem(20);
			margin-right: rem(8);
			opacity: 0.5;
		}

		&::after {
			content: '\201D';
			font-size: rem(64);
			line-height: 0;
			position: relative;
			top: rem(20);
			margin-left: rem(8);
			opacity: 0.5;
		}
	}

	// Custom font sizes for attribution
	.testimonial-bar-name {
		font-size: rem(18);

		@include media($md) {
			font-size: rem(20);
		}
	}

	.testimonial-bar-subline {
		font-size: rem(16);

		@include media($md) {
			font-size: rem(18);
		}
	}
}