.content-panel-vertical {
	margin-bottom: $block-bottom-margin-large;

	// Corner tag styles (can't use utility classes for custom border)
	.corner-tag {
		background-color: $brand-green-dark;
		border-right: rem(9) solid rgba(255, 255, 255, 0.2);
		font-size: rem(12);
		letter-spacing: rem(0.84);
	}

	// SVG Decorations (can't use utility classes for complex positioning)
	.content-panel-decoration {
		pointer-events: none;

		img {
			width: rem(935);
			height: rem(657);
		}
	}

	// Panel needs higher z-index than decorations (z-0)
	.the-content-panel {
		position: relative;
		z-index: 1;

		&.bg-panel-green {
			.corner-tag {
				background-color: $brand-gold;
			}

			h2,
			p,
			div {
				color: $color-white;
			}

			ul {
				list-style-type: square;

				li {
					color: $color-white;

					&::marker {
						color: $brand-gold;
					}
				}
			}
		}

		&.bg-panel-teal {
			.corner-tag {
				background-color: $brand-teal-light;
			}

			h2,
			p,
			div {
				color: $color-white;
			}

			ul {
				list-style-type: square;

				li {
					color: $color-white;

					&::marker {
						color: $brand-orange;
					}
				}
			}
		}
	}

	.content-panel-decoration-top {
		top: rem(-512);
		right: rem(-540);
	}

	.content-panel-decoration-bottom {
		bottom: rem(-204);
		left: rem(-220);
	}

	// Image container
	.content-panel-image {}
}