@import '../../../assets/sass/utilities/mixins/index';
@import '../../../assets/sass/utilities/variables/index';

.cards-hover-panel {
	margin-bottom: $block-bottom-margin-large;

	// Auto-apply panel colors to columns in order (light teal, teal, green, orange)
	.the-cards > .card-item:nth-child(4n+1) {
		.hover-panel {
			background-color: $brand-teal-light;
		}
	}

	.the-cards > .card-item:nth-child(4n+2) {
		.hover-panel {
			background-color: $brand-teal;
		}
	}

	.the-cards > .card-item:nth-child(4n+3) {
		.hover-panel {
			background-color: $brand-green-dark;
		}
	}

	.the-cards > .card-item:nth-child(4n+4) {
		.hover-panel {
			background-color: $brand-orange;
		}
	}

	.hover-card {
		&:hover, &:focus, &.panel-open {
			.hover-panel-content {
				max-height: rem(500);
			}
		}
	}

	.hover-panel {
		border-top-right-radius: rem(16);
		min-height: rem(100);

		h3 {
			color: $color-white;
		}
	}

	.hover-panel-content {
		max-height: 0;
		transition: max-height 0.5s ease-in-out;

	}
	.hover-card-arrow {
		background-color: rgba(0,0,0, 0.1);
		bottom: rem(-24);
		right: rem(-24);
		padding: rem(8) rem(9);
	}
}